body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color
{
    color: orange;
}
.flexible-container{
    display: flex;

}
.half-width{
    width: 50% ;
    margin-left: 5%;
}
.half-width img{
      width: 50%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px; 
    font-weight: 700;
    border-radius: 5px;

}
.my-mission-2022 h1{
    text-align: center;
}
.mission-item{
    width: 25%;
    margin-left: 5%;
    padding: 5%;
    border-radius: 20px;
    background-color: palegoldenrod;
}
.mission-item img{
    width: 50%;
}
.devlop-picture{
    width: 30%;
    margin-left: 5%;
}
.devlop-contain{
    width: 60%;
    margin-left: 5%;
}
.devlop{
    margin-top: 50px;
    margin-bottom: 50px;
}
.wrokhard{
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wrokhard h2{
    color: white;
}
.wrokhard p{
    color: white;
}